/*bouton de la bannière*/
.bouton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    width: 500px;
    height: 70px;
    border: solid 15px #00ffff;
    border-radius: 20px;
    background-color: #E4DCD1;
    color: #c8c5c1;
}

/*bannière*/
.bannière {
    display: flex;
    justify-content: flex-start;
    background-color: #00ffff;

}

/* Styles pour la pahe haut */
.boite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* espace vide en haut */
    margin: 0;
}


/* Styles pour les images à l'intérieur de la boîte */
.boite img {
    margin: 50px;
    /*espace entre les images */
    width: 300px;
    /* taille de chaque image */
    height: auto;
}



/* Centrer horizontalement */
.titre-container {
    text-align: center;

}