/* General styles for buttons in the banner */
.bouton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    width: 500px;
    height: 70px;
    border: solid 15px #00ffff;
    border-radius: 20px;
    background-color: #E4DCD1;
    color: #c8c5c1;
}

/* Specific styles for the logo button to remove the rectangle */
.bouton.logo {
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
}

/* Style for the banner */
.banniere {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00ffff;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* General body styling */
body {
    background-color: #b3ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
}

/* Title container styling */
.titre-container {
    width: 100%;
    margin: 20px 0 10px 0; /* Adjusted margin to reduce space */
}

/* Container for the main content */
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Styling for image boxes */
.boite {
    display: flex;
    gap: 200px; /* Increased gap for more space between images */
    margin-top: 10px; /* Reduced margin-top */
}

/* Styling for each figure element */
figure {
    text-align: center;
    margin: 0;
}

/* Styling for images inside figure elements */
figure img {
    width: 300px; /* Adjusted width for example */
    height: 500px; /* Adjusted height for example */
    object-fit: cover;
    border-radius: 15px;
}

/* Specific styles for item container */
.item {
    margin: 0 10px;
}

/* Heading styles */
h1 {
    font-size: 40px;
    color: #2c3e50;
    font-family: 'Century Gothic';
}

h2, h3 {
    font-size: 20px;
    color: #2c3e50;
    font-family: 'Century Gothic';
}

/* Button styles */
.boutton_payement {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.boutton_payement:hover {
    background-color: #218838;
}
