/*bouton de la bannière*/
.bouton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    width: 500px;
    height: 70px;
    border: solid 15px #00ffff;
    border-radius: 20px;
    background-color: #E4DCD1;
    color: #c8c5c1;
}

/*bannière*/
.bannière {
    display: flex;
    justify-content: flex-start;
    background-color: #00ffff;

}

/*Couleur de fond*/
body {
    background-color: #b3ffff;
}

/*Ajustement des espaces */
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.categorie {
    margin: 0 10px;
}

/*taille des images*/
.categorie img {
    width: 400px;
    height: 400px;
}

/*Style des titres*/
h1 {
    font-size: 40px;
    color: #2c3e50;
    font-family: 'Century Gothic';
    text-align: center;
}

/*Style des sous-titres*/
h2 {
    font-size: 20px;
    color: #2c3e50;
    font-family: 'Century Gothic';
    text-align: center;
}

/*Style du texte*/
h3 {
    font-size: 20px;
    color: #2c3e50;
    font-family: 'Century Gothic';
    text-align: center;
}

/*Style pour le bouton de paiement*/
.bouton_paiement {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.bouton_paiement:hover {
    background-color: #218838;
}